$navbar-dropdown-nav-divider-border-width: 0px !default;
$navbar-dropdown-nav-divider-border: #fff !default;
$navbar-dropdown-nav-item-hover-color: #353535 !default;
$navbar-dropdown-nav-header-color: #353535 !default;

$navbar-dropdown-grid-gutter-horizontal: 15px;

$navbar-nav-item-color: #353535 !default;
$navbar-nav-item-hover-color: #353535 !default;
$navbar-nav-item-height: 60px !default;
$navbar-nav-item-padding-horizontal: 20px !default;

