$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: dark !default;
$offcanvas-z-index: 9999;
$offcanvas-bar-padding-vertical: 40px !default;
$offcanvas-bar-padding-horizontal: 40px !default;
$offcanvas-close-position: 40px !default;