$tile-padding-horizontal: 10px;
$tile-padding-horizontal-s: 10px;
$tile-padding-horizontal-m: 10px;
$tile-padding-vertical: 10px;
$tile-padding-vertical-m: 10px;

$tile-xsmall-padding-vertical: 10px;

$tile-small-padding-vertical: 10px;

$tile-large-padding-vertical: 10px;
$tile-large-padding-vertical-m: 10px;

$tile-xlarge-padding-vertical: 10px;
$tile-xlarge-padding-vertical-m: 10px;